
<div class="card">
  <div class="card-body">
    <h5 class="card-title">List of tasks</h5>
    <div class="row justify-content-center">
      <app-todo-search (todosFound)="displayFound($event)"></app-todo-search>
      <div class="list-group" *ngFor="let todo of tasks?._embedded?.todoList">
        <a routerLink="/todo/detail/{{todo.id}}" class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{todo.title}}</h5>

            <div class="form-check form-switch">
              <input *ngIf="todo.completed; else inactiveTodo" class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked disabled>
              <ng-template #inactiveTodo>
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" disabled>
              </ng-template>
            </div>
          </div>
          <small>{{todo.creationMessage}}</small>

        </a>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">New task</h5>
    <form>

      <div class="row mb-3">
        <label for="input-description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10" >
          <input  id="todo-description" class="form-control" #todoDescription>
        </div>
      </div>
      <div class="row mb-3">
        <label for="checkbox" class="col-sm-2 col-form-label">Completed</label>
        <div class="col-sm-10" >
        <div class="form-check form-switch">
          <input  class="form-control form-check-input" type="checkbox" name="flexSwitchCheckChecked" #todoActive/>
        </div>
      </div>
      </div>
      <div class="row mb-3">

          <label class="col-sm-2 col-form-label"></label>
          <div class="col-sm-10">
            <button class="btn btn-primary" (click)="addTodo(todoDescription.value, todoActive.checked);
            todoDescription.value=''; todoActive.checked=false">Add task</button>
          </div>
      </div>
    </form>
  </div>
</div>

