-<div class="header d-flex align-items-center list-group-item list-group-item-action">
  <div class="search-bar d-flex align-items-center">
    <form class="search-form d-flex align-items-center" method="POST" action="#">
      <input type="text" name="query" placeholder="Search" title="Enter search keyword" #searchPattern>
      <button type="button" title="Search" (click)="searchTodosMatchingPattern(searchPattern.value)"><i class="bi bi-search"></i></button>
    </form>
  </div>
</div>
