
      <div *ngIf="task" class="card">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>

          <form>
            <div class="row mb-3">
              <label for="input-description" class="col-sm-2 col-form-label">Title</label>
              <div class="col-sm-10" >
                <input  id="input-description" type="text" class="form-control"
                  name="desc" [(ngModel)]="task.title">
              </div>
            </div>
            <div class="row mb-3">
              <label for="checkbox" class="col-sm-2 col-form-label">Completed</label>
              <div class="col-sm-10">
                <div class="form-check form-switch col-sm-10">
                  <input *ngIf="task.completed; else inactiveTask" class="form-control form-check-input" type="checkbox"
                  name="flexSwitchCheckChecked" checked [(ngModel)]="task.completed">
                  <ng-template #inactiveTask>
                    <input class="form-control form-check-input" type="checkbox"
                    name="flexSwitchCheckDisabled" [(ngModel)]="task.completed">
                  </ng-template>
                </div>
              </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" (click)="addOrUpdate()">{{buttonValidationTitle}}</button>
                <button class="btn btn-secondary" (click)="goBack()">Cancel</button>
              </div>
          </form>
        </div>
      </div>

